body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
  background-image: url(/src/assets/sun-tornado.svg);
  color: rgb(24, 8, 110);
  font-weight: 800;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
